<?xml version="1.0" encoding="UTF-8"?>
<Fedora version="1.0">
  <Broker>
    <id>0xAAAABBBB</id>
    <clientOnly>false</clientOnly>
    <participantConfig>
      <dds>
	<participant>
	  <rtps>
	    <name>default_xrce_participant</name>
	  </rtps>
	</participant>
      </dds>
    </participantConfig>
  </Broker>
  <Publishers>
    <Publisher>
      <id>1</id>
      <PublisherConfig>
      </PublisherConfig>
      <DataWriterConfig>
	<dds>
	  <data_writer>
	    <topic>
	      <kind>NO_KEY</kind>
	      <name>vectorTopic</name>
	      <dataType>Vector</dataType>
	    </topic>
	  </data_writer>
	</dds>
      </DataWriterConfig>
      <TopicConfig>
	<dds>
	  <topic>
	    <name>vectorTopic</name>
	    <dataType>Vector</dataType>
	  </topic>
	</dds>
      </TopicConfig>
    </Publisher>
  </Publishers>
  
  <Subscribers>
    <Subscriber>
      <id>1</id>
      <SubscriberConfig>
      </SubscriberConfig>
      <DataReaderConfig>
	<dds>
	  <data_reader>
	    <topic>
	      <kind>NO_KEY</kind>
	      <name>vectorMagnitude</name>
	      <dataType>magnitude</dataType>
	    </topic>
	  </data_reader>
	</dds>
      </DataReaderConfig>
      <TopicConfig>
	<dds>
	  <topic>
	    <name>vectorMagnitude</name>
	    <dataType>magnitude</dataType>
	  </topic>
	</dds>
      </TopicConfig>
    </Subscriber>
  </Subscribers>
</Fedora>
